#btn-mobile {
  display: none;
}

@media (max-width: 998px) {
  #menu {
    display: block;
    position: absolute;
    background: var(--bg-color);
    width: 0px;
    top: 0;
    left: 0;
    height: 0px;
    transition: 0.6s;
    z-index: 5;
    visibility: hidden;
    overflow-y: hidden;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
  }
  #nav.active #menu {
    visibility: visible;
    height: 100%;
    width: 50%;
    overflow-y: auto;
  }
  #nav.active body {
    opacity: 0.4 !important;
  }
  header {
    margin: 34px 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  header .firstContent {
    padding: 20px !important;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header .firstContent .dropdown {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
  }
  header .firstContent .dropdown .list {
    background: transparent;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    margin-top: 10px;
    padding: 10px 0 0 0 !important;
    max-width: 100px !important;
    height: fit-content !important;
    position: relative !important;
    top: 0px !important;
    right: 0;
    border-radius: 10px;
  }
  header .firstContent .dropdown .list .reminders,
header .firstContent .dropdown .list .calendar,
header .firstContent .dropdown .list .company {
    width: 100%;
  }
  header .firstContent .dropdown2 {
    display: flex;
    flex-direction: column;
    top: 0px !important;
    position: relative !important;
    left: 0px !important;
    margin-top: 30px;
    align-items: flex-start !important;
  }
  header .firstContent .dropdown2 .list2 {
    background: transparent;
    display: none;
    margin-top: 10px;
    padding: 10px 0 0 0 !important;
    max-width: 100px !important;
    height: fit-content !important;
    position: relative !important;
    left: 0px !important;
    top: 0px !important;
  }
  header .firstContent .dropdown2 .list2 .OurTeam,
header .firstContent .dropdown2 .list2 .Blog {
    margin-top: 20px;
  }
  header .firstContent .carrer {
    position: relative !important;
    top: 25px !important;
    left: 0px !important;
  }
  header .firstContent .carrer a,
header .firstContent .About a {
    text-decoration: none !important;
  }
  header .firstContent .About {
    position: relative !important;
    left: 0px !important;
    top: 45px !important;
  }
  header .secondContent {
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px !important;
  }
  header .secondContent #button {
    gap: 4px !important;
    width: 100%;
    font-size: 14px !important;
  }
  header .secondContent #button #icon {
    width: 25px;
  }
  header .secondContent .login {
    margin-top: 15px;
  }
  header .secondContent .register {
    width: 100% !important;
    margin-top: 15px;
  }
}
body main {
  max-width: 1440px;
  margin: 0 auto;
}
body main header {
  margin: 34px 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body main header .firstContent .logo {
  max-width: 83.5px;
  width: 100%;
  height: 26.58px;
  position: absolute;
  top: 0;
  left: 0;
}
body main header .firstContent .dropdown {
  position: absolute;
  top: 20px;
  left: 146px;
  align-items: center;
}
body main header .firstContent .dropdown .list {
  display: none;
  padding: 24px;
  width: 153px;
  height: 160px;
  position: absolute;
  top: 32px;
  right: 0;
  border-radius: 10px;
}
body main header .firstContent .dropdown .list .reminders,
body main header .firstContent .dropdown .list .calendar,
body main header .firstContent .dropdown .list .company {
  width: 100%;
  margin-top: 17px;
}
body main header .firstContent .dropdown .list a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
body main header .firstContent .dropdown2 {
  position: absolute;
  top: 20px;
  left: 278px;
  align-items: center;
}
body main header .firstContent .dropdown2 .list2 {
  display: none;
  padding: 20px 30px 20px 20px;
  position: absolute;
  left: 0px;
  top: 32px;
  width: 116px;
  height: 128px;
  border-radius: 10px;
}
body main header .firstContent .dropdown2 .list2 .OurTeam,
body main header .firstContent .dropdown2 .list2 .Blog {
  margin-top: 10px;
}
body main header .firstContent .dropdown2 .list2 a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
body main header .firstContent .dropdown button,
body main header .firstContent .dropdown2 button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
  gap: 8px;
  border: none;
  outline: none;
}
body main header .firstContent .carrer {
  position: absolute;
  top: 16px;
  left: 418px;
}
body main header .firstContent .carrer a,
body main header .firstContent .About a {
  text-decoration: none !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
body main header .firstContent .About {
  position: absolute;
  left: 520px;
  top: 16px;
}
body main header .secondContent {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 40px;
}
body main header .secondContent #button {
  background-color: transparent;
  gap: 10px;
  align-items: center;
  display: flex;
  width: 140px;
  height: 40px;
  border: none;
  outline: none;
}
body main header .secondContent #button #icon {
  width: 30px;
}
body main header .secondContent .login {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
body main header .secondContent .login,
body main header .secondContent .register {
  text-decoration: none;
}
body main header .secondContent .register {
  width: 104px;
  padding: 13px;
  text-align: center;
  height: 42px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
body .mainContent {
  padding: 70px 0 20px 0 !important;
  gap: 80px;
  width: 100%;
  flex-direction: row !important;
}
body .mainContent .text .content {
  position: relative;
  max-width: 520px;
  width: 100% !important;
  height: 400px;
}
body .mainContent .text .content .center {
  gap: 38px;
  align-items: flex-start;
}
body .mainContent .text .content .center h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -1.11111px;
}
body .mainContent .text .content .center p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
body .mainContent .text .content .center .btn {
  width: 163px;
  height: 56px;
  background-color: transparent;
  border-radius: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  padding: 15px;
}
body .mainContent .text .imgs {
  position: absolute;
  bottom: -120px;
  display: flex;
  gap: 12%;
}
body .mainContent .img .heroImage {
  height: 640px;
  width: 480px;
}
body p {
  gap: 10px;
}

@media (max-width: 1200px) {
  body main header .firstContent .dropdown {
    left: 116px;
  }
  body main header .firstContent .dropdown2 {
    left: 228px;
  }
  body main header .firstContent .carrer {
    left: 348px;
  }
  body main header .firstContent .About {
    left: 440px;
  }
  body main header .secondContent {
    gap: 20px;
  }
  body main .mainContent {
    padding: 0px 0 20px 0 !important;
    gap: 80px;
    width: 100%;
  }
  body main .mainContent .text .content {
    position: relative;
    width: 520px;
    height: 400px;
  }
  body main .mainContent .text .content .center {
    gap: 18px;
  }
  body main .mainContent .imgs {
    margin-top: 20px;
    position: relative !important;
    bottom: 0px !important;
  }
}
@media (max-width: 992px) {
  .container {
    margin: 0 !important;
    padding: 0 !important;
  }
  .container-fluid {
    margin: 0px !important;
  }
  body {
    padding: 0 !important;
  }
  body main {
    padding: 0px !important;
    width: 100% !important;
  }
  body main header {
    position: unset !important;
    display: flex;
    justify-content: space-between;
    margin: 0px !important;
    padding: 32px 20px !important;
  }
  body main .mainContent {
    padding: 70px 0 20px 0 !important;
    gap: 80px;
    width: 100%;
    flex-direction: column-reverse !important;
    align-items: center;
  }
  body main .mainContent .text .content {
    height: auto !important;
  }
  body main .mainContent .text .content .center {
    width: 100% !important;
    gap: 28px;
    align-items: center !important;
    padding: 0 20px;
  }
  body main .mainContent .text .content .center h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
  body main .mainContent .text .content .center p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
  body main .mainContent .text .content .center .btn {
    max-width: 163px;
    width: 100%;
  }
  body main .mainContent .text .imgs {
    position: relative !important;
    bottom: 0px !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  body main .mainContent .img .heroImage {
    height: auto;
    width: 100%;
    max-width: 620px;
  }
}

/*# sourceMappingURL=style.css.map */
