<main
  class="max-w-[90rem] mx-auto my-0 lg:px-[10.3125rem] px-5 lg:py-[7.8125rem] py-16"
>
  <article
    class="flex lg:flex-row lg:items-start items-center flex-col-reverse justify-between lg:gap-0 gap-16"
  >
    <div>
      <p
        class="uppercase flex gap-[0.875rem] items-center relative bottom-[0.1875rem]"
      >
        <span
          class="text-white bg-neutral-very-dark-blue px-[0.75rem] h-[1.5625rem] rounded-full"
        >
          New
        </span>
        <span
          class="font-barlow tracking-[0.1938rem] text-neutral-dark-grayish-blue text-sm"
        >
          Monograph Dashboard
        </span>
      </p>

      <h1
        class="uppercase font-bold lg:text-[4rem] text-[2.625rem] text-neutral-very-dark-blue max-w-[470px] leading-[4rem] mt-[0.8125rem]"
      >
        Powerful insights into your team
      </h1>

      <p
        class="text-lg text-neutral-dark-grayish-blue max-w-[17.25rem] mt-[2rem] leading-[1.6875rem] font-barlow"
      >
        Project planning and time tracking for agile teams
      </p>

      <div class="flex gap-6 items-center mt-[3.875rem]">
        <button
          class="uppercase h-10 grid place-content-center px-4 text-sm font-bold text-white bg-primary-red rounded-md tracking-[0.0563rem] hover:opacity-75 lg:h-12 lg:text-base lg:px-[2.0875rem]"
        >
          Schedule a demo
        </button>

        <span
          class="text-sm tracking-[0.0625rem] lg:tracking-[0.2188rem] text-neutral-grayish-blue uppercase font-barlow"
          >to see a preview</span
        >
      </div>
    </div>
    <div class="relative">
      <div
        class="lg:absolute lg:-top-[3.125rem] top-10 -left-[7.5rem] lg:-left-[32.9375rem] lg:w-[60.375rem] lg:h-[28.375rem] lg:max-w-none max-w-[30rem]"
      >
        <img src="/images/illustration-devices.svg" alt="" class="" />
      </div>
    </div>
  </article>
</main>
