$darkBlueBackground: #1b2330;
// header and nav background

$DarkBlueMain: #181f2a;
// (main background)

$DarkBlueFooter: #0b1523;
// (footer background)

$DarkBlueProfile: #202a3c;
// (testimonials background)

$hover:#8ADAE3;

$Cyan: #65e2d9;
// (inside call-to-action gradient)

$Blue: #339ecc;
// (inside call-to-action gradient)

$LightRed: #ff4242;
// (error)

$white: #fff;
// white

$linear-button: linear-gradient(138.1deg, #63E1D9 -49.34%, #34A0CD 100%);

