@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #fafafa;
}

.title {
    margin-top: 40px;
}

.title h1 {
    text-align: center;
    font-size: 37px;
    font-weight: 300;
}

.title .h1Bold {
    font-size: 38px;
    font-weight: 600;
}

.title p {
    font-size: 16px;
    font-weight: 500;
    color: #767577;
    margin: 20px auto;
    text-align: center;
}

.grid-items {
    background-color: #fafafa;
    gap: 40px;
    margin: 80px auto 0 auto;
    display: flex;
    align-items: center;
}

.supervisor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 370px;
    height: 250px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    border-top: 5px solid #5ec9bf;
}

.supervisor h3 {
    color: #3b3b3b;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.supervisor p {
    font-size: 16px;
    color: #767577;
}

.supervisor img {
    margin: 40px 0 0 250px;
}

.teamBuilder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 370px;
    height: 250px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    border-top: 5px solid #ae373e;
}

.teamBuilder h3 {
    color: #3b3b3b;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.teamBuilder p {
    font-size: 16px;
    color: #767577;
}

.teamBuilder img {
    margin: 40px 0 0 250px;
}

.Karma {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 370px;
    height: 250px;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    border-top: 5px solid #efb348;
}

.Karma h3 {
    color: #3b3b3b;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.Karma p {
    font-size: 16px;
    color: #767577;
}

.Karma img {
    margin: 40px 0 0 250px;
}

.Calculator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 370px;
    height: 250px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    border-top: 5px solid #56aaf1;
}

.Calculator h3 {
    color: #3b3b3b;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.Calculator p {
    font-size: 16px;
    color: #767577;
}

.Calculator img {
    margin: 40px 0 0 250px;
}

@media (max-width: 1200px) {
    .container {
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 80px auto 40px auto;
    }
}

@media (max-width: 500px) {
    .grid-items {
        margin: 20px auto 40px auto;
    }

    .title h1 {
        text-align: center;
        font-size: 27px;
    }

    .title .h1Bold {
        font-size: 28px;
        font-weight: 600;
    }

    .title p {
        font-size: 17px;
        font-weight: 500;
        margin: 20px 10px;
    }
}

@media (max-width: 380px) {
    .title {
        margin-top: 15px;
    }

    .title h1 {
        text-align: center;
        font-size: 22px;
    }

    .title .h1Bold {
        font-size: 23px;
        font-weight: 600;
    }

    .title p {
        font-size: 15px;
        font-weight: 500;
        margin: 10px;
    }

    .grid-items {
        margin: 10px auto 40px auto;
    }

    .supervisor {
        width: 280px;
        height: 240px;
        padding: 20px;
    }

    .supervisor h3 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .supervisor p {
        font-size: 14px;
    }

    .supervisor img {
        margin: 40px 0 0 180px;
    }

    .teamBuilder {
        width: 280px;
        height: 250px;
        padding: 20px;
    }

    .teamBuilder h3 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .teamBuilder p {
        font-size: 14px;
    }

    .teamBuilder img {
        margin: 40px 0 0 180px;
    }

    .Karma {
        width: 280px;
        height: 250px;
        padding: 20px;
    }

    .Karma h3 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .Karma p {
        font-size: 14px;
    }

    .Karma img {
        margin: 40px 0 0 180px;
    }

    .Calculator {
        width: 280px;
        height: 250px;
        padding: 20px;
    }

    .Calculator h3 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .Calculator p {
        font-size: 14px;
    }

    .Calculator img {
        margin: 40px 0 0 180px;
    }
}