@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

.nav {
    margin: 1rem 4rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imageText {
    display: flex;
    align-items: center;
}

.imageText p {
    font-size: 3.4rem;
}

.button button {
    width: 130px;
    height: 34px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ff52bf;
    border: 1px solid #ff52bf;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
}

.button button:hover {
    color: #ff8fd8;
    border: 1px solid #ff8fd8;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.h1Header {
    font-size: 3rem;
}

.pHeader {
    text-align: center;
    margin: 3.6rem 0 2.2rem 0;
}

.buttonHeader {
    width: 320px;
    height: 60px;
    border: none;
    border-radius: 28px;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #ff52bf;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3.8rem;
}

.buttonHeader:hover {
    background-color: #ff8fd8;
    transition: 0.4s;
}

.headerColumn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 300px;
    margin: 5rem 0 7rem 0;
}

.column1 h1,
.column2 h1 {
    font-size: 6rem;
}

.growTogether .backgroundImageDesktop,
.YourUsers .backgroundImageDesktop {
    width: 100%;
    display: block;
}

.growTogether .backgroundImageMobile,
.YourUsers .backgroundImageMobile {
    display: none;
}

.growTogetherContent,
.yourUsersContent {
    background-color: #f6fbff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.growText h1,
.yourUsersText h1 {
    font-size: 32px;
}

.growText p,
.yourUsersText p {
    margin-top: 30px;
    font-size: 18px;
}

.growTogether img,
.YourUsers img {
    width: 550px;
}

.growTogether .backgroundImageDesktopBottom,
.YourUsers .backgroundImageDesktopBottom {
    width: 100%;
    display: block;
}

.backgroundImageMobileBottom {
    display: none;
}

.flowingConvesationContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 8rem 0 5rem 0;
}

.flowingText h1 {
    font-size: 32px;
}

.flowingText p {
    margin-top: 30px;
    font-size: 18px;
}

.flowingConversation img {
    width: 550px;
}

.buttonAndText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 9rem;
}

.buttonAndText h1 {
    font-size: 3rem;
}

.buttonAndText button {
    width: 380px;
    height: 70px;
    border: none;
    border-radius: 32px;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #ff52bf;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3.8rem;
}

.buttonAndText button:hover {
    background-color: #ff8fd8;
    transition: 0.4s;
}

.backgroundImageFooterDesktop {
    width: 100%;
    display: block;
}

.backgroundImageFooterMobile {
    display: none;
}

.footerContent {
    background-color: #00252e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerContent1,
.footerContent2 {
    margin-bottom: 4rem;
}

.footerContent1 h1 {
    font-size: 2.6rem;
}

.imageNText,
.phoneImgAndText,
.email {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
}

.lorem {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 30px;
}

.footerContent2 h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
    width: 520px;
}

.description {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1.2rem;
}

#email[type="email"] {
    width: 60%;
    height: 38px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
}

#email[type="email"]:hover {
    border: 1px solid #ff0000;
}

#error {
    color: #ff0000;
    font-size: 14px;
}

button[type="submit"] {
    width: 120px;
    height: 38px;
    margin-left: 20px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #ff52bf;
    font-size: 16px;
    font-weight: 500;
}

.socialMediaIcons {
    display: flex;
    gap: 18px;
    margin-top: 40px;
}

.imgFacebook,
.imgInstagram,
.imgTwitter {
    width: 32px;
}

@media (max-width: 1190px) {
    .nav {
        margin: 1rem 2rem;
    }

    .imageText p {
        font-size: 3rem;
    }

    .header {
        margin-top: 6rem;
    }

    .h1Header {
        font-size: 2rem;
    }

    .pHeader {
        margin: 2.5rem 0 2.2rem 0;
    }

    .buttonHeader {
        width: 260px;
        height: 60px;
        border: none;
        font-size: 17px;
    }

    .imgHeader {
        width: 90%;
    }

    .headerColumn {
        margin: 4rem 0 6rem 0;
    }

    .column1 h1,
    .column2 h1 {
        font-size: 5rem;
    }

    .backgroundImageMobileBottom {
        display: none;
    }

    .growTogetherContent,
    .yourUsersContent {
        background-color: #f6fbff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .growText h1,
    .yourUsersText h1 {
        font-size: 32px;
        margin: 1rem;
    }

    .growText p,
    .yourUsersText p {
        margin-top: 25px;
        font-size: 17px;
        margin: 1rem;
    }

    .growTogether img,
    .YourUsers img {
        width: 450px;
    }

    .flowingConversation {
        margin: 1rem;
    }

    .flowingConvesationContent {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 8rem 0 5rem 0;
    }

    .flowingText p {
        margin-top: 25px;
        font-size: 17px;
    }

    .flowingConversation img {
        width: 450px;
    }

    .buttonAndText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin: 9rem;
    }

    .buttonAndText h1 {
        font-size: 2rem;
    }

    .buttonAndText button {
        width: 300px;
        height: 60px;
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .footerContent1,
    .footerContent2 {
        margin: 1rem;
    }

    .footerContent1 h1 {
        font-size: 2.4rem;
    }

    .imageNText,
    .phoneImgAndText,
    .email {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .lorem {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .footerContent2 h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        width: 0;
    }

    #email[type="email"] {
        width: 56%;
    }

    button[type="submit"] {
        width: 100px;
        height: 38px;
        margin-left: 0;
    }

    .socialMediaIcons {
        margin-top: 30px;
    }
}

@media(max-width: 780px) {
    .nav {
        margin: 1rem;
    }

    .imageText p {
        font-size: 2rem;
    }

    .header {
        margin-top: 4rem;
    }

    .h1Header {
        font-size: 160%;
    }

    .pHeader {
        margin: 2.5rem 0;
    }

    .buttonHeader {
        width: 220px;
        height: 50px;
        font-size: 17px;
    }

    .imgHeader {
        width: 82%;
    }

    .headerColumn {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
        margin: 5rem 0;
    }

    .column1 h1,
    .column2 h1 {
        font-size: 440%;
    }

    .growTogether .backgroundImageDesktop,
    .YourUsers .backgroundImageDesktop {
        display: none;
    }

    .growTogether .backgroundImageMobile,
    .YourUsers .backgroundImageMobile {
        width: 100%;
        display: block;
    }

    .growTogetherContent,
    .yourUsersContent {
        background-color: #f6fbff;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .growText h1,
    .yourUsersText h1,
    .flowingText h1 {
        font-size: 28px;
        margin: 1rem;
        text-align: center;
    }

    .growTogether img,
    .YourUsers img,
    .flowingConversation img {
        width: 250px;
    }

    .growTogether .backgroundImageDesktopBottom,
    .YourUsers .backgroundImageDesktopBottom {
        display: none;
    }

    .growTogether .backgroundImageMobileBottom,
    .YourUsers .backgroundImageMobileBottom {
        width: 100%;
        display: block;
    }

    .flowingConvesationContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 6rem 0;
    }

    .growText p,
    .yourUsersText p {
        text-align: center;
    }

    .flowingText p {
        margin-top: 20px;
        text-align: center;
    }

    .buttonAndText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
        margin: 6rem 0;
    }


    .buttonAndText h1 {
        font-size: 1.5rem;
    }

    .buttonAndText button {
        width: 250px;
        height: 50px;
        font-size: 17px;
    }

    .footerContent {
        display: grid;
        grid-template-columns: repeat(1, 250px);
        align-items: center;
        justify-content: center;
    }

    .footerContent1 {
        order: 2;
        margin: 10px 0;
    }

    .footerContent2 {
        order: 1;
        margin: 10px 0;
    }

    .footerContent1 h1 {
        font-size: 1.6rem;
    }

    .imageNText,
    .phoneImgAndText,
    .email {
        margin: 10px 0;
    }

    .lorem {
        margin-bottom: 20px;
    }

    .footerContent2 h2 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .description {
        font-size: 14px;
        margin-bottom: 1rem;
    }

    button[type="submit"] {
        height: 28px;
        margin-left: 0;
    }

    .socialMediaIcons {
        gap: 8px;
        margin-top: 20px;
    }
}

@media (max-width: 520px) {
    .h1Header {
        font-size: 125%;
    }
}

@media (max-width: 420px){
    .h1Header {
        font-size: 105%;
    }

    .pHeader {
        font-size: 12px;
    }
}