@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700;900&family=Outfit:wght@100;300&display=swap');

:root {
    --black: #151515;
    --gold: #D5966c;
    --white: #FFF;
    --darkGrey: #444;
}

body {
    background-color: var(--white);
    font-family: 'Big Shoulders Display', cursive;
}

header {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--white);
}

.positionAbsolute {
    position: absolute;
    top: 60px;
}

.headerContent {
    position: relative;
    padding-left: 22.8%;
    display: flex;
    gap: 45%;
    align-items: center;
}

.gridItemsHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.darkDiv {
    background-color: var(--white);
}

.lightDiv {
    background-color: var(--white);
}

h1 {
    width: 454px;
    height: 176px;
    color: var(--black);
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;
}

.h1Black {
    color: var(--black);
}


p {
    font-family: 'Outfit', sans-serif;
}

.text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.text p {
    width: 350px;
    height: 160px;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: var(--darkGrey);
}

header a {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 260px;
    height: 72px;
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    border: none;
}

header a span {
    text-transform: uppercase;
    padding: 20px 25px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
}

header a:hover {
    background-color: var(--gold);
}

header a:hover div{
    background-color: var(--black);
}

header a div {
    width: 56px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gold);
}

main {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--white);
}

.mainContent {
    padding: 180px 160px;
}

.gridItemsMain {
    display: grid;
    grid-template-rows: 400px 700px;
    gap: 30px;
}

.firstRow {
    display: flex;
    align-items: center;
    gap: 125px;
}

.details {
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.details p {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
}

h2 {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}

h2:hover {
    color: var(--gold);
}

.imgGallery {
    width: 635px;
    height: 400px;
}

.secondRow {
    display: flex;
    gap: 30px;
}

.imgArt {
    width: 635px;
    height: 730px;
}

.imageCollections {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.imgCollection {
    width: 445px;
    height: 313px;
}

.galleryDetails {
    width: 445px;
    height: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    background-color: var(--black);
    padding: 65px 48px;
}

.galleryDetails:hover {
    background-color: var(--gold);
}

.galleryDetails:hover h3 {
    color: var(--black);
}

h3 {
    color: var(--white);
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}

.galleryDetails p {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: var(--white);
}

footer {
    width: 100%;
    background-color: var(--black);
}

.footerContent {
    height: 244px;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerText {
    display: flex;
    gap: 140px;
}

.iconFooter {
    width: 160px;
    height: 58px;
}

.iconFooter:hover {
    filter: invert(66%) sepia(33%) saturate(537%) hue-rotate(341deg) brightness(92%) contrast(87%);
}

.footerText p {
    width: 430px;
    height: 84px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: var(--white);
}

ul {
    display: flex;
    gap: 20px;
}

ul li img {
    width: 25px;
}

ul li img:hover {
    filter: invert(66%) sepia(33%) saturate(537%) hue-rotate(341deg) brightness(92%) contrast(87%);
}

@media (min-width: 1440px) {
    header:hover h1 {
        color: var(--white);
    }

    header:hover .darkDiv {
        background-color: var(--black);
    }

    header:hover .filterH12 {
        background: linear-gradient(to right, var(--white) 35%, var(--black) 35%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    header:hover .filterH11 {
        background: linear-gradient(to right, var(--white) 84%, var(--black) 38%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
    }
}

@media (max-width: 1256px) {

    .positionAbsolute {
        position: absolute;
        top: 100px;
        left: 48%;
    }

    .headerContent {
        width: 329px;
        height: 410px;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        align-items: flex-start;
        position: relative;
    }

    .imageHero img {
        width: 100%;
    }

    .gridItemsHeader {
        grid-template-columns: repeat(2, 50%);
    }

    .darkDiv {
        display: none;
    }

    .lightDiv {
        background-color: var(--white);
    }

    h1 {
        width: 339px;
        height: 130px;
        font-size: 70px;
        line-height: 65px;
    }

    .text {
        margin-top: 15px;
        flex-direction: column;
        gap: 40px;
    }

    .text p {
        width: 339px;
        height: 112px;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }

    .mainContent {
        padding: 120px 40px;
    }

    .gridItemsMain {
        display: grid;
        grid-template-rows: 400px 700px;
        gap: 11px;
    }

    .firstRow {
        gap: 60px;
    }

    .details {
        width: 350px;
        height: 280px;
        gap: 11px;
    }

    .details p {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }

    h2 {
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
    }

    .imgGallery {
        width: 635px;
        height: 400px;
    }

    .secondRow {
        gap: 11px;
    }

    .imgArt {
        width: 100%;
        height: 700px;
    }

    .imageCollections {
        gap: 11px;
    }

    .imgCollection {
        width: 100%;
        /* min-width: 280px; */
    }

    .galleryDetails {
        width: 100%;
        /* min-width: 280px; */
        height: 396px;
        gap: 30px;
        padding: 85px 28px;
    }

    h3 {
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
    }

    .galleryDetails p {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }

    .footerContent {
        padding: 0 40px;
        height: 216px;
    }

    .footerText {
        display: flex;
        gap: 65px;
    }

    .iconFooter {
        width: 110px;
        height: 40px;
    }

    .footerText p {
        width: 430px;
        height: 84px;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
    }

    ul li img {
        width: 40px;
    }
}

@media (max-width: 760px) {
    .positionAbsolute {
        padding: 0 16px;
        position: relative;
        top: 0;
        left: 0;
    }

    .headerContent {
        width: 100%;
        height: 410px;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }

    .imageHero img {
        width: 100%;
        height: 70%;
    }

    .gridItemsHeader {
        grid-template-columns: repeat(1, 100%);
    }

    h1 {
        width: 100%;
        height: 110px;
        font-size: 60px;
        line-height: 55px;
    }

    .text {
        gap: 40px;
    }

    .text p {
        width: 100%;
    }

    .mainContent {
        padding: 120px 16px;
    }

    .gridItemsMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11px;
    }

    .firstRow {
        display: flex;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .details {
        width: 100%;
        height: 223px;
        gap: 11px;
    }

    .imgGallery {
        width: 100%;
        height: 320px;
    }

    .secondRow {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    .imgArt {
        min-width: none;
        width: 100%;
        height: 477px;
    }

    .imageCollections {
        gap: 11px;
    }

    .imgCollection {
        min-width: none;
        width: 100%;
        height: 200px;
    }

    .galleryDetails {
        width: 100%;
        min-width: none;
        height: 290px;
        gap: 15px;
        padding: 50px 25px;
    }

    .footerContent {
        padding: 0 25px;
        height: 336px;
    }

    .footerText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
    }

    .iconFooter {
        width: 110px;
        height: 40px;
    }

    .footerText p {
        width: 100%;
        height: 84px;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    ul li img {
        width: 30px;
    }
}

@media (max-width: 320px) {
    .text {
        margin-top: 45px;
    }
}