// colors
$bg-body: #ecf2f8;
$white: #fff;
$dark-grey: #48556a;
$grey-75: #6d7f97;
$light-grey: #9eafc2;
$warm-gray: #969696;
$green: #285e4e;
$brown: #b66e29;
$light-green: #2f997b63;

// sizes
$small: 790px;