@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --red: hsl(0, 100%, 66%);
}

@media (max-width: 83rem) and (min-width: 64rem) {
  .container_form {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
