$Cyan: #2acfcf;
$DarkViolet: #3b3054;
$Red: #f46262;
$White: #fff;
$Gray: #bfbfbf;
$GrayishViolet: #9e9aa7;
$VeryDarkBlue: #35323e;
$VeryDarkViolet: #232127;
$mainBackground: #EFF1F7;
$hoverButton: #9AE3E3;