<header>
  <div
    class="w-full max-w-[90rem] py-[2.125rem] xl:px-[10.3125rem] px-5 flex lg:flex-row flex-col justify-between lg:items-center items-start mx-auto my-0"
  >
    <div class="flex flex-col gap-1">
      <h1
        class="relative top-[0.125rem] -left-[0.125rem] text-color-primary text-2xl font-semibold xl:text-[28px] xl:leading-[34px] tracking-[-0.0063rem]"
      >
        Social Media <span class="tracking-[0.0175rem]"> Dashboard </span>
      </h1>

      <p class="text-color-secondary text-sm font-bold">
        Total Followers: 23,004
      </p>
    </div>
    <div
      class="lg:hidden block w-full h-[0.0625rem] bg-color-secondary my-4"
    ></div>
    <toggleSwitch-component></toggleSwitch-component>
  </div>
</header>
